<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Browser Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- meta http-equiv="refresh" content="60" /-->

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/core.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.min.css}" />

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/locales/bootstrap-datepicker.tr.min.js}"
	charset="UTF-8"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/date.js}"></script>

</head>
<body>

	<section layout:fragment="content">

		<div class="panel-body">

			<div class="jumbotron">
				<h1 class="text-center"
					th:text="${aktifKullaniciSayisi + ' Aktif Kullanici Şu An Sistemde'}" />
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapse1">
					<h4 class="panel-title">Uygulama Sunucularının Durumu</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2" th:each="server : ${appServers}">
								<div class="servive-block"
									th:classappend="${server.serverActive} ? 'servive-block-green' : 'servive-block-red'">
									<img th:src="@{/img/wildfly.png}" class="img-responsive" />
									<h3 th:text="${server.serverIp}"></h3>
									<p
										th:text="${server.serverActive} ? 'Sunucu Şu An Aktif' : 'Sunucu Şu An Pasif'"></p>
								</div>
							</div>
							<div class="col-md-2" th:each="server : ${testServers}">
								<div class="servive-block"
									th:classappend="${server.serverActive} ? 'servive-block-green' : 'servive-block-red'">
									<img th:src="@{/img/wildfly.png}" class="img-responsive" />
									<h3 th:text="${server.serverIp}"></h3>
									<p
										th:text="${server.serverActive} ? 'Sunucu Şu An Aktif' : 'Sunucu Şu An Pasif'"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapse2">
					<h4 class="panel-title">Veri Tabanı Sunucularının Durumu</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-2" th:each="server : ${dbServers}">
								<div class="servive-block"
									th:classappend="${server.serverActive} ? 'servive-block-green' : 'servive-block-red'">
									<img th:src="@{/img/percona.png}" class="img-responsive" />
									<h3 th:text="${server.serverIp}"></h3>
									<p
										th:text="${server.serverActive} ? 'Sunucu Şu An Aktif' : 'Sunucu Şu An Pasif'"></p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<ul class="nav nav-tabs">
				<li th:each="kullanicilar, iterStat : ${aktifKullanicilar}"
					th:classappend="${iterStat.count == 1} ? active : ''"><a
					th:href="'#Node' + ${iterStat.count}" data-toggle="tab"
					th:text="'Node' + ${iterStat.count} + ' ('+${#lists.size(kullanicilar)}+')'"></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane" th:id="'Node' + ${iterStat.count}"
					th:each="kullanicilar, iterStat : ${aktifKullanicilar}"
					th:classappend="${iterStat.count == 1} ? active : ''">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Kullanıcı Adı</th>
								<th>Ad</th>
								<th>Soyad</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${aktifKullanicilar.empty}">
								<td colspan="4">Kayıt Bulunamadı</td>
							</tr>

							<tr th:each="customer : ${kullanicilar}">

								<td th:text="${customer.kullaniciAdi}">Kullanıcı Adı</td>
								<td th:text="${customer.adi}">Tarih</td>
								<td th:text="${customer.soyadi}">Farklı İp Sayısı</td>
							</tr>

						</tbody>

					</table>

				</div>
			</div>

			<!-- Nav tabs 
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li role="presentation" class="active"
					th:each="kullanicilar, iterStat : ${aktifKullanicilar}"><a
					th:href="'#Node' + ${iterStat.count}"
					th:attr="aria-controls='Node' + ${iterStat.count}" role="tab"
					data-toggle="tab" th:text="'Node' + ${iterStat.count}">Home</a></li>
			</ul>


			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active"
					th:id="'Node' + ${iterStat.count}"
					th:each="kullanicilar, iterStat : ${aktifKullanicilar}">


					<table class="table table-striped">
						<thead>
							<tr>
								<th>Kullanıcı Adı</th>
								<th>Ad</th>
								<th>Soyad</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${aktifKullanicilar.empty}">
								<td colspan="4">Kayıt Bulunamadı</td>
							</tr>

							<tr th:each="customer : ${kullanicilar}">

								<td th:text="${customer.kullaniciAdi}">Kullanıcı Adı</td>
								<td th:text="${customer.adi}">Tarih</td>
								<td th:text="${customer.soyadi}">Farklı İp Sayısı</td>
							</tr>

						</tbody>

					</table>

				</div>

			</div-->


		</div>


	</section>

</body>
</html>