<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
	<head>
		<title>İp Detayları</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script th:src="@{/js/bootstrap.min.js}" ></script>
	</head>
<body>

	<section layout:fragment="content">
		<table class="table table-striped">
			<thead >
				<tr>
					<th>Ad Soyad</th>
					<th>Kullanıcı Adı</th>
					<th>Tarih</th>
					<th>İp Adresi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${ipDetay.empty}">
					<td colspan="4">Kayıt Bulunamadı</td>
				</tr>

				<tr th:each="customer : ${ipDetay}">
					<td th:text="${customer.adSoyad}">Kullanıcı Adı</td>
					<td th:text="${customer.kullaniciAdi}">Tarih</td>
					<td th:text="${#dates.format(customer.tarih, 'dd-MM-yyyy HH:mm:ss')}">Farklı İp Sayısı</td>
					<td th:text="${customer.ip}">Farklı İp Sayısı</td>
				</tr>

			</tbody>

		</table>
	</section>

</body>
</html>